.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------ NEW CSS SETTINGS ------------------------ */

#wrapper {
	margin: 0 auto;
	width: 960px;
	text-align: left;
	color: #000;
	background-color: #fff;
}

#header {
  font-family: 'EB Garamond', serif;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(37, 34, 34, 0.1);
  color:rgb(66, 65, 65);
  padding: 30px;
  text-align: center;
}

h1 {
	font-family: 'EB Garamond', serif;
	font-size: 1.8em;
  text-align: center;
  padding-top: 15px;
	color: rgb(56, 53, 53);
}

h2 {
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	text-align: left;
	color: black;
	padding-top: 10px;
	text-decoration: none;
}

a {
	color: black;
	padding: 20px;
	text-decoration: none;
}

#navigation {
	background-color: rgb(250, 231, 182);
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 1.1em;
}

#navigation a:link {
	color: #000;
	text-decoration: none;
}

#navigation a:hover{
  color: black;
  background-color: rgb(255, 248, 242);
  padding-top: 7px;
  padding-bottom: 7px;
}

#newUsers {
  padding-top: 30px;
  padding-bottom: 50px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.password {
  margin-bottom: 5px;
}

.register {
  padding-top: 30px;
  padding-bottom: 50px;
}

.login {
  padding-top: 30px;
  padding-bottom: 50px;
}

.write {
  padding-top: 30px;
  padding-bottom: 50px;
}

.home {
  padding-top: 30px;
  padding-bottom: 50px;
}

.user {
  padding-top: 30px;
  padding-bottom: 50px;
}

.admin {
  padding-top: 30px;
  padding-bottom: 50px;
}

.articles {
  padding-top: 30px;
  padding-bottom: 50px;
}

.articles h3 {
  font-family: 'Palatino', serif;
	font-size: 1.6em;
  text-align: left;
  padding-top: 15px;
	color: rgb(56, 53, 53);
}

.articles h4 {
  font-family: 'Palatino', serif;
	font-size: 1.0em;
	font-style: italic;
  text-align: left;
	color: rgb(56, 53, 53);
}

.articles h5 {
  font-family: 'Palatino', serif;
	font-size: 1.15em;
  text-align: left;
	color: rgb(56, 53, 53);
}

#pArticles {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(252, 249, 244);
}

#leaderBoard {
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(252, 244, 246);
}

.thin-icon {
  -webkit-text-stroke: 2px white;
}

#changePassword {
  padding-bottom: 30px;
}

#changePassword button{
  background-color: rgb(247, 224, 230);
  color: rgb(54, 47, 50);
  border-color: rgb(247, 224, 230);
}

#deleteArticle {
  padding-bottom: 30px;
}

#deleteArticle button{
  background-color: rgb(247, 224, 230);
  color: rgb(54, 47, 50);
  border-color: rgb(247, 224, 230);
}

.userProfile {
  padding-top: 50px;
  padding-bottom: 50px;
}

table.userProfile {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left:15%;
  margin-right:15%;
  background-color: beige;
}

.userProfile td {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 200px;
  text-align: left;
}

.userProfile th{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 100px;
  padding-right: 50px;
  text-align: left;
}

.userProfile tr:nth-child(odd) {
  background: rgb(255, 241, 242);
}

.userProfile tr:nth-child(even) {
  background: rgb(255, 252, 240);
}

.userArticles {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

table.userArticles {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left:15%;
  margin-right:15%;
  background-color: beige;
}

.userArticles td {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 120px;
  padding-right: 200px;
  text-align: left;
}

.userArticles th{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 100px;
  padding-right: 50px;
  text-align: left;
}

.userArticles tr:nth-child(odd) {
  background: rgb(255, 241, 242);
}

.userArticles tr:nth-child(even) {
  background: rgb(255, 252, 240);
}

#articleFilter {
  padding-bottom: 30px;
}

#articleFilter button{
  background-color: rgb(247, 224, 230);
  color: rgb(54, 47, 50);
  border-color: rgb(247, 224, 230);
}

#submitButton button{
  background-color: rgb(247, 224, 230);
  color: rgb(54, 47, 50);
  border-color: rgb(247, 224, 230);
}

.name {
  padding:30px;
}
